@import './objects/objects.scss';
@import './settings/palette.scss';
@import './settings/fonts.scss';

.header {
  background-color: $header-bg;
  @extend .header-obj;

  &__title {
    color: $header-color;
    @extend .title-obj;
  }

  &__img {
    @extend .img-obj;
    img {
      width: 50%;
      aspect-ratio: 1;
    }
  }
}
.subtitle {
  @extend .subtitle-obj;
  font-size: $subtitle-size;
  &__img {
    margin-right: 2%;
    width: 1rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.title {
  margin-left: 10%;
  font-weight: 900;
}
