.header-obj {
  width: 100%;
  height: 25vh;
  display: flex;
}

.title-obj {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subtitle-obj {
  margin-left: 10%;
  display: inline-flex;
  align-items: center;
}

.img-obj {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-subtitle-obj {
  margin-right: 2%;
  width: 1rem;
}
