@import './objects/objects.scss';
@import './settings/mixin.scss';

.main {
  @extend .main-obj;

  @include screenTablet {
    height: 70vh;
  }

  @include screenLap {
    width: 40%;
    height: 80vh;
  }
}
